<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="padding-top: 0px; padding-bottom: 0px">
  <div class="container">
    <h1><%= @title %></h1>
    <p>This is a template for a simple website backed by Sinatra, generated from a model using <a href="https://github.com/ajlopez/AjGenesisNode">AjGenesis</a>. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>


  <hr>

  <footer>
    <p>&copy; Company 2013, 2014</p>
  </footer>
  
